EXT_PACKAGES_NAME[1]="ipv6-helper"
EXT_PACKAGES_PATH[1]="package/lean/ipv6-helper"
EXT_PACKAGES_REPOSITORIE[1]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[1]=""
EXT_PACKAGES_NAME[2]="r8168"
EXT_PACKAGES_PATH[2]="package/lean/r8168"
EXT_PACKAGES_REPOSITORIE[2]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[2]=""
EXT_PACKAGES_NAME[3]="r8152"
EXT_PACKAGES_PATH[3]="package/lean/r8152"
EXT_PACKAGES_REPOSITORIE[3]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[3]=""
EXT_PACKAGES_NAME[4]="luci-app-ddns-go"
EXT_PACKAGES_PATH[4]=""
EXT_PACKAGES_REPOSITORIE[4]="https://github.com/sirpdboy/luci-app-ddns-go"
EXT_PACKAGES_BRANCH[4]=""
EXT_PACKAGES_NAME[5]="luci-app-rclone"
EXT_PACKAGES_PATH[5]="applications/luci-app-rclone"
EXT_PACKAGES_REPOSITORIE[5]="https://github.com/immortalwrt/luci"
EXT_PACKAGES_BRANCH[5]=""
EXT_PACKAGES_NAME[6]="luci-app-zerotier"
EXT_PACKAGES_PATH[6]="applications/luci-app-zerotier"
EXT_PACKAGES_REPOSITORIE[6]="https://github.com/immortalwrt/luci"
EXT_PACKAGES_BRANCH[6]=""
EXT_PACKAGES_NAME[7]="luci-app-passwall"
EXT_PACKAGES_PATH[7]="luci-app-passwall"
EXT_PACKAGES_REPOSITORIE[7]="https://github.com/xiaorouji/openwrt-passwall"
EXT_PACKAGES_BRANCH[7]=""
EXT_PACKAGES_NAME[8]="openwrt-passwall-packages"
EXT_PACKAGES_PATH[8]=""
EXT_PACKAGES_REPOSITORIE[8]="https://github.com/xiaorouji/openwrt-passwall-packages"
EXT_PACKAGES_BRANCH[8]=""
EXT_PACKAGES_NAME[9]="luci-app-adguardhome"
EXT_PACKAGES_PATH[9]=""
EXT_PACKAGES_REPOSITORIE[9]="https://github.com/chenmozhijin/luci-app-adguardhome"
EXT_PACKAGES_BRANCH[9]=""
EXT_PACKAGES_NAME[10]="luci-app-diskman"
EXT_PACKAGES_PATH[10]="applications/luci-app-diskman"
EXT_PACKAGES_REPOSITORIE[10]="https://github.com/lisaac/luci-app-diskman"
EXT_PACKAGES_BRANCH[10]=""
EXT_PACKAGES_NAME[11]="luci-theme-argon"
EXT_PACKAGES_PATH[11]=""
EXT_PACKAGES_REPOSITORIE[11]="https://github.com/jerrykuku/luci-theme-argon"
EXT_PACKAGES_BRANCH[11]=""
EXT_PACKAGES_NAME[12]="luci-app-socat"
EXT_PACKAGES_PATH[12]="luci-app-socat"
EXT_PACKAGES_REPOSITORIE[12]="https://github.com/chenmozhijin/luci-app-socat"
EXT_PACKAGES_BRANCH[12]=""
EXT_PACKAGES_NAME[13]="r8125"
EXT_PACKAGES_PATH[13]=""
EXT_PACKAGES_REPOSITORIE[13]="https://github.com/sbwml/package_kernel_r8125"
EXT_PACKAGES_BRANCH[13]=""
EXT_PACKAGES_NAME[14]="luci-app-openclash"
EXT_PACKAGES_PATH[14]="luci-app-openclash"
EXT_PACKAGES_REPOSITORIE[14]="https://github.com/vernesong/OpenClash"
EXT_PACKAGES_BRANCH[14]=""
EXT_PACKAGES_NAME[15]="luci-app-mosdns"
EXT_PACKAGES_PATH[15]=""
EXT_PACKAGES_REPOSITORIE[15]="https://github.com/sbwml/luci-app-mosdns"
EXT_PACKAGES_BRANCH[15]=""
EXT_PACKAGES_NAME[16]="nft-fullcone"
EXT_PACKAGES_PATH[16]=""
EXT_PACKAGES_REPOSITORIE[16]="https://github.com/fullcone-nat-nftables/nft-fullcone"
EXT_PACKAGES_BRANCH[16]=""
EXT_PACKAGES_NAME[17]="luci-app-turboacc"
EXT_PACKAGES_PATH[17]="luci-app-turboacc"
EXT_PACKAGES_REPOSITORIE[17]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[17]=""
EXT_PACKAGES_NAME[18]="shortcut-fe"
EXT_PACKAGES_PATH[18]="shortcut-fe"
EXT_PACKAGES_REPOSITORIE[18]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[18]="package"
EXT_PACKAGES_NAME[19]="luci-app-netdata"
EXT_PACKAGES_PATH[19]=""
EXT_PACKAGES_REPOSITORIE[19]="https://github.com/sirpdboy/luci-app-netdata"
EXT_PACKAGES_BRANCH[19]=""
EXT_PACKAGES_NAME[20]="luci-theme-kucat"
EXT_PACKAGES_PATH[20]=""
EXT_PACKAGES_REPOSITORIE[20]="https://github.com/sirpdboy/luci-theme-kucat"
EXT_PACKAGES_BRANCH[20]=""
