EXT_PACKAGES_NAME[1]="luci-app-mosdns"
EXT_PACKAGES_PATH[1]=""
EXT_PACKAGES_REPOSITORIE[1]="https://github.com/sbwml/luci-app-mosdns"
EXT_PACKAGES_BRANCH[1]=""
EXT_PACKAGES_NAME[2]="luci-app-ddns-go"
EXT_PACKAGES_PATH[2]=""
EXT_PACKAGES_REPOSITORIE[2]="https://github.com/sirpdboy/luci-app-ddns-go"
EXT_PACKAGES_BRANCH[2]=""
EXT_PACKAGES_NAME[3]="luci-app-openclash"
EXT_PACKAGES_PATH[3]="luci-app-openclash"
EXT_PACKAGES_REPOSITORIE[3]="https://github.com/vernesong/OpenClash"
EXT_PACKAGES_BRANCH[3]=""
EXT_PACKAGES_NAME[4]="r8168"
EXT_PACKAGES_PATH[4]="package/kernel/r8125"
EXT_PACKAGES_REPOSITORIE[4]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[4]=""
EXT_PACKAGES_NAME[5]="r8125"
EXT_PACKAGES_PATH[5]=""
EXT_PACKAGES_REPOSITORIE[5]="https://github.com/sbwml/package_kernel_r8125"
EXT_PACKAGES_BRANCH[5]=""
EXT_PACKAGES_NAME[6]="luci-app-filemanager"
EXT_PACKAGES_PATH[6]=""
EXT_PACKAGES_REPOSITORIE[6]="https://github.com/sbwml/luci-app-filemanager"
EXT_PACKAGES_BRANCH[6]=""
EXT_PACKAGES_NAME[7]="luci-app-passwall"
EXT_PACKAGES_PATH[7]="luci-app-passwall"
EXT_PACKAGES_REPOSITORIE[7]="https://github.com/xiaorouji/openwrt-passwall"
EXT_PACKAGES_BRANCH[7]=""
EXT_PACKAGES_NAME[8]="openwrt-passwall-packages"
EXT_PACKAGES_PATH[8]=""
EXT_PACKAGES_REPOSITORIE[8]="https://github.com/xiaorouji/openwrt-passwall-packages"
EXT_PACKAGES_BRANCH[8]=""
EXT_PACKAGES_NAME[9]="passwall2"
EXT_PACKAGES_PATH[9]="luci-app-passwall2"
EXT_PACKAGES_REPOSITORIE[9]="https://github.com/xiaorouji/openwrt-passwall2"
EXT_PACKAGES_BRANCH[9]=""
EXT_PACKAGES_NAME[10]="luci-app-adguardhome"
EXT_PACKAGES_PATH[10]=""
EXT_PACKAGES_REPOSITORIE[10]="https://github.com/chenmozhijin/luci-app-adguardhome"
EXT_PACKAGES_BRANCH[10]=""
EXT_PACKAGES_NAME[11]="luci-app-argon-config"
EXT_PACKAGES_PATH[11]=""
EXT_PACKAGES_REPOSITORIE[11]="https://github.com/jerrykuku/luci-app-argon-config"
EXT_PACKAGES_BRANCH[11]=""
EXT_PACKAGES_NAME[12]="luci-app-diskman"
EXT_PACKAGES_PATH[12]="applications/luci-app-diskman"
EXT_PACKAGES_REPOSITORIE[12]="https://github.com/lisaac/luci-app-diskman"
EXT_PACKAGES_BRANCH[12]=""
EXT_PACKAGES_NAME[13]="luci-theme-argon"
EXT_PACKAGES_PATH[13]=""
EXT_PACKAGES_REPOSITORIE[13]="https://github.com/jerrykuku/luci-theme-argon"
EXT_PACKAGES_BRANCH[13]=""
EXT_PACKAGES_NAME[14]="luci-app-socat"
EXT_PACKAGES_PATH[14]="luci-app-socat"
EXT_PACKAGES_REPOSITORIE[14]="https://github.com/chenmozhijin/luci-app-socat"
EXT_PACKAGES_BRANCH[14]=""
