#
# Network
#
#
# Cloud Manager
#
CONFIG_PACKAGE_rclone-ng=n
CONFIG_PACKAGE_rclone-webui-react=n
# end of Cloud Manager
#
# Download Manager
#
CONFIG_PACKAGE_ariang=n
# end of Download Manager
#
# File Transfer
#
CONFIG_PACKAGE_aria2=n
#
# Aria2 Configuration
#
CONFIG_ARIA2_OPENSSL=n
CONFIG_ARIA2_LIBXML2=n
CONFIG_ARIA2_BITTORRENT=n
CONFIG_ARIA2_METALINK=n
CONFIG_ARIA2_SFTP=n
CONFIG_ARIA2_ASYNC_DNS=n
CONFIG_ARIA2_COOKIE=n
CONFIG_ARIA2_WEBSOCKET=n
# end of Aria2 Configuration
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_rclone=n
CONFIG_PACKAGE_rclone-config=n
CONFIG_PACKAGE_vsftpd-tls=n
CONFIG_PACKAGE_wget-ssl=y
# end of File Transfer
#
# Firewall
#
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_miniupnpd-nftables=y
CONFIG_PACKAGE_xtables-nft=y
# end of Firewall
#
# IP Addresses and Names
#
CONFIG_PACKAGE_avahi-dbus-daemon=y
CONFIG_PACKAGE_chinadns-ng=n
CONFIG_PACKAGE_ddns-scripts=n
CONFIG_PACKAGE_ddns-scripts-cloudflare=n
CONFIG_PACKAGE_ddns-scripts-dnspod=n
CONFIG_PACKAGE_ddns-scripts-services=n
CONFIG_PACKAGE_ddns-scripts_aliyun=n
CONFIG_PACKAGE_dns2socks=n
CONFIG_PACKAGE_dns2tcp=n
CONFIG_PACKAGE_v2ray-geoip=y
CONFIG_PACKAGE_v2ray-geosite=y
CONFIG_PACKAGE_wsdd2=y
# end of IP Addresses and Names
#
# Printing
#
CONFIG_PACKAGE_p910nd=n
# end of Printing
#
# Routing and Redirection
#
CONFIG_PACKAGE_ip-full=y
# end of Routing and Redirection
#
# SSH
#
CONFIG_PACKAGE_openssh-client=y
CONFIG_PACKAGE_openssh-keygen=y
# end of SSH
#
# VPN
#
CONFIG_PACKAGE_zerotier=y
# end of VPN
#
# WWAN
#
CONFIG_PACKAGE_comgt=y
CONFIG_PACKAGE_comgt-ncm=y
CONFIG_PACKAGE_umbim=y
CONFIG_PACKAGE_uqmi=y
# end of WWAN
#
# Web Servers/Proxies
#
CONFIG_PACKAGE_brook=y
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_haproxy=y
CONFIG_PACKAGE_homebox=y
CONFIG_PACKAGE_microsocks=y
CONFIG_PACKAGE_naiveproxy=y
CONFIG_PACKAGE_shadowsocks-libev-config=y
CONFIG_PACKAGE_shadowsocks-libev-ss-local=y
CONFIG_PACKAGE_shadowsocks-libev-ss-redir=y
CONFIG_PACKAGE_shadowsocks-libev-ss-server=y
CONFIG_PACKAGE_shadowsocks-rust-sslocal=n
CONFIG_PACKAGE_shadowsocks-rust-ssserver=n
CONFIG_PACKAGE_shadowsocksr-libev-ssr-local=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-redir=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-server=y
CONFIG_PACKAGE_sing-box=y
#
# Customizing build tags
#
CONFIG_SING_BOX_WITH_CLASH_API=y
CONFIG_SING_BOX_WITH_DHCP=y
CONFIG_SING_BOX_WITH_ECH=y
CONFIG_SING_BOX_WITH_QUIC=y
CONFIG_SING_BOX_WITH_UTLS=y
CONFIG_SING_BOX_WITH_WIREGUARD=y
# end of Customizing build tags
CONFIG_PACKAGE_trojan-go=y
CONFIG_PACKAGE_tuic-client=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
CONFIG_PACKAGE_v2ray-plugin=y
CONFIG_PACKAGE_xray-plugin=y
# end of Web Servers/Proxies
#
# WirelessAPD
#
CONFIG_PACKAGE_hostapd-common=y
CONFIG_DRIVER_11AC_SUPPORT=y
# end of WirelessAPD
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_chat=y
CONFIG_PACKAGE_cifsmount=y
CONFIG_PACKAGE_etherwake=y
CONFIG_PACKAGE_ethtool-full=y
CONFIG_PACKAGE_hysteria=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_ipt2socks=y
CONFIG_PACKAGE_iputils-arping=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_libipset=y
CONFIG_PACKAGE_modemmanager=n
#
# Configuration
#
CONFIG_MODEMMANAGER_WITH_MBIM=y
CONFIG_MODEMMANAGER_WITH_QMI=y
CONFIG_MODEMMANAGER_WITH_QRTR=y
# end of Configuration
CONFIG_PACKAGE_netperf=y
CONFIG_PACKAGE_nlbwmon=y
CONFIG_PACKAGE_proto-bonding=y
CONFIG_PACKAGE_samba4-admin=n
CONFIG_PACKAGE_samba4-client=n
CONFIG_PACKAGE_samba4-libs=n
CONFIG_PACKAGE_samba4-server=n
CONFIG_SAMBA4_SERVER_WSDD2=y
CONFIG_SAMBA4_SERVER_NETBIOS=y
CONFIG_SAMBA4_SERVER_AVAHI=y
CONFIG_SAMBA4_SERVER_VFS=y
CONFIG_PACKAGE_samba4-utils=n
CONFIG_PACKAGE_simple-obfs=y
CONFIG_PACKAGE_smartdns=y
CONFIG_PACKAGE_socat=y
CONFIG_SOCAT_SSL=y
CONFIG_PACKAGE_tcping=y
CONFIG_PACKAGE_trojan-plus=yS
CONFIG_PACKAGE_wwan=y
CONFIG_PACKAGE_xray-core=y
CONFIG_PACKAGE_snmpd=y
CONFIG_PACKAGE_ddnsto=y
# end of Network
